<div class="main-card">
  <h2 class="main-card__title">Question:</h2>
  <div class="main-card__content">
    <p>Was ist die Lebensdauer einer Libelle?</p>
    <details>
      <summary>Show Answer</summary>
      <p>24 Stunden</p>
    </details>
    <ul class="main-card__answer">
      <a href="#" class="main-card__answeritem"> <li>1 Monat</li></a>
      <a href="#" class="main-card__answeritem"><li>1 Woche</li></a>
      <a href="#" class="main-card__answeritem"><li>24 Stunden</li></a>
      <a href="#" class="main-card__answeritem"><li>3 Tage</li></a>
    </ul>
  </div>
</div>
