<footer class="navigation">
  <ul class="navigation__item">
    <a href="#" class="navigation__btn">
      <li class="navigation__icon">
        <i class="fas fa-home"></i>
        <span>Home</span>
      </li>
    </a>
    <a href="#" class="navigation__btn">
      <li class="navigation__icon">
        <i class="fas fa-bookmark"></i>
        <span>Bookmark</span>
      </li>
    </a>
    <a href="#" class="navigation__btn">
      <li class="navigation__icon">
        <i class="fab fa-creative-commons-share"></i>
        <span>Create</span>
      </li>
    </a>
    <a href="#" class="navigation__btn">
      <li class="navigation__icon">
        <i class="fas fa-address-card"></i>
        <span>Profile</span>
      </li>
    </a>
  </ul>
</footer>
