.main-card {
  background-color: #94c9d6;
  margin: 0 10px;
  text-align: center;
  position: relative;
}

.main-card__content i {
  position: absolute;
  top: -10px;
  right: 20px;
  font-size: 40px;
}

.main-card h2 {
  padding-top: 20px;
}

.main-card__answer {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
  padding-bottom: 20px;
}

.main-card__answeritem {
  border: none;
  color: black;
  background: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
