<section class="main-card">
  <h2 class="main-card__title">Question:</h2>
  <div class="main-card__content">
    <i class="fas fa-bookmark"></i>
    <p>Was ist das chemische Symbol für Silber?</p>
    <details>
      <summary>Show Answer</summary>
      <p>Ag</p>
    </details>
    <ul class="main-card__answer">
      <li class="main-card__answeritem">Au</li>
      <li class="main-card__answeritem">Ag</li>
      <li class="main-card__answeritem">Pb</li>
      <li class="main-card__answeritem">Hg</li>
    </ul>
  </div>
</section>
