<footer class="navigation">
  <nav class="navigation__item">
    <a href="#" class="navigation__icon">
      <i class="fas fa-home"></i>
      <span>Home</span>
    </a>
    <a href="#" class="navigation__icon">
      <i class="fas fa-bookmark"></i>
      <span>Bookmark</span>
    </a>
    <a href="#" class="navigation__icon">
      <i class="fas fa-file-alt"></i>
      <span>Create</span>
    </a>
    <a href="#" class="navigation__icon">
      <i class="fas fa-address-card"></i>
      <span>Profile</span>
    </a>
  </nav>
</footer>
